{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/flowtype",
        "prettier/react",
        "prettier/standard"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}